@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-neutral-black: black;
    --color-neutral-white: white;
    --color-secondary: #B78E41;

    --font--weight-light: 200;
    --font--weight-normal: 400;
    --font--weight-bold: 600;
    --font--weight--extrabold: 700;

    --button-fontsize: 19px;
    --strong--title: 45px;
    --strong--text: 40px;
    --title--text: 26px;
    --span--text: 18px;

}
body{
    font-size: 34px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100dvh;
}
main{
    width: 100%;
    height: 100%;
}
.styled__text__cormorant{
    font-family: 'Cormorant', serif;
    color: var(--color-secondary);
}
.strong__block{
    display: block;
    font-size: 40px;
    font-weight: var(--font--weight--extrabold);
}
p{
    text-align: center;
    font-size: 24px;
    font-weight: var(--font--weight-bold);
}
strong{
    font-family: 'Cormorant', serif;
    color: var(--color-secondary);
}
.flex__div{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----------------HERO----------------- */
#home__hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-black);
}
#home__hero h1{
    font-size: 1.971em;
}
#home__hero h2{
    font-size: 0.676em;
    font-weight: var(--font--weight-light);
}
#home__hero span{
    font-size: 0.882em;
}

/* ----------------SECTION ONE----------------- */
#ship__section__one{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.section__one__image__container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.section__one__background__image{
    max-height: 100%;
}
.section__one__container{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__one__text__one{
    color: white;
}
.section__one__text__two{
    display: none;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.section__one__text__two span{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-weight: var(--font--weight-bold);
}
.section__one__text__two span strong{
    font-weight: var(--font--weight-bold);
    font-size: 40px;
}
.section__one__text__three{
    display: none;
    color: white;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.section__one__text__three div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__one__text__three div span{
    font-size: 18px;
    margin-top: 15px;
}
.section__one__text__three div strong{
    font-size: 38px;
}
.section__one__button{
    display: none;
    padding: 8px 0px;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-neutral-white);
    width: 335px;
    font-size: 19px;
    font-weight: var(--font--weight--extrabold);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* ----------------SECTION TWO----------------- */
#ship__section__two{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}
.section__two__container{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__two__header__text{
    color: white;
    font-size: 26px;
}
.section__two__header__text strong{
    font-size: 45px;
    display: block;
}
#section__two__image__container img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 80%;
}
#section__two__image__container img:first-child{
    opacity: 0;
    display: block;
}
#section__two__image__container img:not(:first-child){
    display: none;
}

/* ----------------SECTION THREE----------------- */
#ship__section__three{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
#section__three__image__container img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 80%;
}
#section__three__image__container img:not(:first-child){
    display: none;
}
.section__three__header{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;
}
.section__three__header strong{
    display: block;
    font-size: 45px;
}
.section__three__text__one {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%);
    display: none;
    opacity: 0;
}
.section__three__text__one div{
    margin-left: 25px;  
}
.section__three__text h2{
    font-size: 24px;
    font-weight: var(--font--weight-bold);
}
.section__three__text strong{
    font-size: 35px;
    font-weight: var(--font--weight-normal);
    line-height: 60px;
    white-space: nowrap;
}
.section__three__text p {
    font-size: 24px;
    font-weight: var(--font--weight-normal);
    max-width: 35ch;
    text-align: left;
}
.section__three__text__two{
    position: absolute;
    color: white;
    display: flex;
    align-items: flex-end;
    bottom: 8%;
    left: 62%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
}
.section__three__text__two div{
    margin-left: 25px;
}
.section__three__text__three{
    position: absolute;
    color: white;
    display: none;
    opacity: 0;
    top:50%;
    left: 62%;
    transform: translate(-50%, -50%);
}
.section__three__text__three div{
    margin-left: 25px;
}
.section__three__text__four{
    opacity: 0;
    display: none;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
}
.section__three__text__four img{
    height: 15px;
    width: 500px;
}
.section__three__text__four div{
    margin-left: 25px;
}
#last__text strong{
    white-space: nowrap;
}



/* RESPONSIVE */
@media screen and (max-width: 1920px){
    /* SECTION ONE */
    p{
        font-size: clamp(20px, 1.250vw,  24px);
    }
    .strong__block{
        font-size: clamp(34px, 2.083vw, 40px);
    }
    .section__one__text__two span{
        font-size: clamp(18px, 1.250vw,  24px);
    }
    .section__one__text__two span strong{
        font-size: clamp(34px, 2.083vw, 40px);
    }
    .section__one__text__three div span{
        font-size: clamp(16px, 0.938vw, 18px);
    }
    .section__one__text__three div strong{
        font-size: clamp(32px, 1.979vw, 38px);
    }
    .section__one__text__three div img{
        width: clamp(50px, 3.438vw, 66px);
    }
    .section__one__button{
        font-size: clamp(16px, 1vw, 19px);
    }
    /* SECTION TWO */
    .section__two__header__text{
        font-size: clamp(22px, 1.354vw, 26px);
    }
    .section__two__header__text strong{
        font-size: clamp(40px, 2.344vw, 45px);
    }
    /* SECTION THREE */
    .section__three__text h2, .section__three__text p{
        font-size: clamp(18px, 1.250vw,  24px);
    }
    .section__three__text strong{
        font-size: clamp(30px, 1.823vw, 35px);
    }
    .section__three__text__one{
        top: 65%;
    }
    .section__three__text__two{
        left: 66%;
    }
    .section__three__svg{
        max-height: 500px;
    }
    .section__three__text__three{
        left: 67%;
    }
    .section__three__text__four{
        top:65%;
        left: 57%;
    }
    .section__three__header__text strong{
        font-size: clamp(40px, 2.344vw, 45px);
    }
}
@media screen and (max-width: 1600px){
    .section__one__image__container, #section__two__image__container img{
        height: 75%;
    }
    .section__one__container, .section__two__container{
        height: 25%;
    }
    /* SECTION THREE */
    .section__three__text__one{
        top: 65%;
    }
    .section__three__svg{
        max-height: 400px;
    }
    .section__three__text__four{
        left: 60%;
    }
    .section__three__text__four img{
        width: 400px;
    }
    /* #section__1 img{
        width: 80%;
    } */
}
@media screen and (max-width: 1440px){
    /* SECTION THREE */
    .section__three__text__two{
        left: 67.5%;
    }
    .section__three__text__three{
        left: 69%;
    }
    .section__three__text__four{
        left: 60%;
    }
    .section__three__text__four img{
        width: 400px;
    }
}
@media screen and (max-width: 1366px){
    /* SECTION THREE */
    .section__three__svg{
        height: 350px;
    }
    .section__three__text strong{
        font-size: clamp(28px, 2.050vw, 30px);
    }
}
@media screen and (max-width: 1280px){
    .section__one__text__two, .section__one__text__three{
        width: 70%;
    }
    .section__one__text__three div img{
        width: clamp(40px, 3.906vw, 50px);
    }
    .section__one__text__three div strong{
        font-size: clamp(30px, 2.5vw, 32px);
    }
    .section__one__text__two span{
        font-size: clamp(16px, 1.406vw,  18px);
    }
    .section__one__text__two span strong{
        font-size: clamp(30px, 2.656vw, 34px);
    }
    /* SECTION THREE */
    .section__three__text__one{
        top: 63%;
    }
    .section__three__text__two{
        left: 69%;
    }
    .section__three__text__three{
        left: 72%;
    }
    .section__three__text__four{
        left: 60%;
    }
    .section__three__text__four img{
        width: 350px;
    }
}
@media screen and (max-width: 1100px){
    #section__1 img{
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    .section__one__image__container img{
        width: 100%;
    }
    #section__two__image__container img{
        width: 100%;
        max-height: 45%;
    }
    /* SECTION THREE */
    #section__three__image__container img{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .section__three__text p, .section__three__text h2{
        font-size: 24px;
    }
    .section__three__text strong{
        font-size: 35px;
    }
    .section__three__svg{
        display: none;
    }
    .section__three__text__one{
        left: 40%;
        top: 45%;
    }
    .section__three__text__two{
        top: 40%;
        left: 60%;
        max-height: 500px;
    }
    .section__three__text__three{
        left: 50%;
        top: 40%;
    }
    .section__three__text__four{
        top: 55%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    .section__three__text__four img{
        display: none;

    }
}